{# templates/CreateRUD.html #}

{% extends "mainCRUD.html" %}

{% block page_form %}
<form action="http://localhost:8000/madlibsadd/" method="POST">
  <div><h3>Mad-Lib Information</h3></div>
  <div>Time: <input type="time" id="timestamp" name="timestamp" /></div><br>
  <div>Date: <input type="date" id="datestamp" name="datestamp" /></div><br>
  <div>Title: <br><input type="text" id="title" name="title" required/></div><br>
  <div>Mad-Lib: <br><textarea placeholder="Type HTML here." id="madlib" name="madlib" required></textarea></div><br>
  <div>Adjective: <br><input type="text" id="adjective-1" name="adjective-1" required/><span class="fa fa-plus add" name="add-adjective"></span></div><br>
  <div>Noun: <br><input type="text" id="noun-1" name="noun-1" required/><span class="fa fa-plus add" name="add-noun"></span></div><br>
  <div>Verb: <br><input type="text" id="verb-1" name="verb-1" required/><span class="fa fa-plus add" name="add-verb"></span></div><br>
  <div>Misc.: <br><input type="text" id="miscellany=1" name="miscellany-1" required/><span class="fa fa-plus add"></span></div><br>
  <div><input type="submit" value="Submit"/> <button onclick="goBack(event)"><i class="fas fa-arrow-left"></i> Back</button>
  </div>
</form>
{% endblock page_form %}
