{# templates/madlibs.html #}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Marvellous Mavericks Methodically Mad-Libs Make</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/sunbee/Mad-Libs-Base/CSS/style.css">
        <link href="https://fonts.googleapis.com/css2?family=Chelsea+Market&amp;display=swap" rel="stylesheet">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    </head>
    <body>
        <div><div style="text-align: center;">
            {% autoescape false %}
            {{ my_mad_lib }}
            {% endautoescape %}    
        </div></div>
        <script src="https://cdn.jsdelivr.net/gh/sunbee/Mad-Libs-Base/JS/script.js"></script>
    </body>
</html>
